PROJECT_NAME=Prograde
PROJECT_URL="https://gitlab.com/Dexter9313/prograde"
PROJECT_DESCRIPTION="An ambitious space flight simulator."
PROJECT_MAINTAINER="Florian Cabot <florian.cabot@epfl.ch>"
PROJECT_DIRECTORY=example
PROJECT_ADDITIONAL_DEB_DEPENDENCIES=""
PROJECT_CHECK_FORMAT=false
PROJECT_CHECK_TIDY=false
PROJECT_DOC=false
PROJECT_DOC_ENGINE=true
PROJECT_DOC_THIRDPARTY=false
